/* .boton-fixed {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: #dfb890;
  font-size: 15px;
  font-size: 0.88235294117647rem;
  border-radius: 25px;
  z-index: 100;

  text-align: center;
  cursor: pointer;
  width: 2.1em;
  height: 2.1em;
  line-height: 2.1;
} */

.boton-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dfb890;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.boton-fixed.visible {
  opacity: 1;
}

.boton-fixed svg {
  color: white;
  width: 24px;
  height: 24px;
}

@media (max-width: 700px) {
  .boton-fixed {
    position: fixed;
    /* bottom: 0; */
    bottom: 3rem;
    right: 1rem;
    background-color: #cecdce;
    z-index: 100;
  }
}
