.social {
  position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
  left: 0; /* Establecemos la barra en la izquierda */
  top: 23rem; /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

ul {
  padding-left: 0;
}

svg {
  background-color: transparent;
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
  background: #3b5998;
} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
  background: #00abf0;
}
.social ul li .icon-instagra {
  background-color: rgb(254, 218, 117);
  background-image: linear-gradient(
    50deg,
    rgb(254, 218, 117) 5%,
    rgb(214, 41, 118) 50%,
    rgb(150, 47, 191) 100%
  );
}
.social ul li .icon-pinterest {
  background: #ae181f;
}
.social ul li .icon-mail {
  background: #666666;
}

.social ul li a:hover {
  padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
